@media only screen and (max-width:600px) {
    body{
        overflow-x: hidden;
    }

    header h2 {
        margin-left: 25px;
    }

    .bi {
        font-size: 1rem;
        position: absolute;
        margin: -7px -12px;
    }

    main{
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin-top: 5rem;
        width: 90%;
        flex-direction: column;
    }

    .card-img,
    .card-details{
        width: 100%;
        padding: 1rem;
    }
    
    .card-img{
        position: static;
    }

    .card-img span{
        font-size: 2.5rem;
    }

    .card img{
        width: 105%;
        position: static;
        margin: 1rem auto;
        display: block;
    }
    
    .card-details h2{
        font-size: 1.5rem;
    }

    .price{
        font-size: 1rem;
    }

    .btn{
        width: 6rem;
        height: 2.5rem;
    }
}